<div class="card animated fadeIn fast">
    <a class="puntero" [routerLink]="['/album', id_album]">
        <img [src]="image" class="card-img-top" [alt]="title">
    </a>
    <div class="card-body">
        <h5 class="card-title">
            <a class="text-decoration-none" [routerLink]="['/album', id_album]">{{ title }}</a>
        </h5>
        <p class="card-text">
            <a class="badge badge-primary" *ngFor="let artist of artists" [routerLink]="['/artist', artist.id]">{{ artist.name }}</a>
        </p>
    </div>
</div>